.TableWidth{ width:auto}

.Cell
{
   
    Font-Size:10pt;
    Font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #666633;
    color:#FFFFFF;
    font-style: normal;
    line-height: normal ;
    border-color:Black;
    text-align:center;
}

.Cell4
{
    Font-Size:10pt;
    Font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color:Black;
    font-style: normal;
    line-height: normal ;
    border-color:Black;
    text-align:center;
}

.Cell5
{
    Font-Size:10pt;
    Font-family:Verdana, Arial, Helvetica, sans-serif;
    background-color: #E0E4B0;
    color:Black;
    font-style: normal;
    line-height: normal ;
    border-color:Black;
    text-align:center;
}

.Cell1
{
    background-color: #666633;
    color:#FFFFFF;
    font-style: normal;
    line-height: normal ;
    border-color:White;
}

.Cell2
{
    background-color: #FFFFFF;
    font-style: normal;
    line-height: normal ;
    border-color:White;
}

Cell3
{
    background-color: #E0E4B0;
    font-style: normal;
    line-height: normal ;
    border-color:White;
}

.Tabs .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    border:1px solid #000000;
    border-top:0;
    padding:0px;
    background-color:#cccccc;
    width:100%;
    height:100%;
    
}
.body
{
	background-color: #FFFFFF; /* #E0E4B0;/*E0E4B0 */
	width: 100%;
	height: 99%;
}
.Contentbody
{
	background-color: #e0e0e0; /* #E0E4B0;/*E0E4B0 */
	width: 100%;
	height: 99%;
}
.ToolTip
{
background-color:  #C4D79C;/*E0E4B0 */
/*width: 100%;
height: 99%;*/
}

.CollapsablePanel
{
	border-color: #666633; 
	width: 100%;
	height: 100%;
}

/* TAB CSS */
.NewsTab .dijitTabPaneWrapper 
{ 
         background:#666633; 
         border:1px solid #ccc; 
         margin: 0; 
         padding: 0; 
 }  
 .NewsTab .dijitTab { 
         line-height:normal; 
         margin:0 2px 0 0;        
         padding:0px;
         color: #666633; 
         border-bottom: 1px #ccc solid; 
         border: #666633; 
 }  
.NewsTab .ajax__tab_header 
{
    color: #666633;
    font-size: 13px;
    font-weight: bold;
    background-color: #E0E4B0;
    margin-left: 10px;
    border-color:Black;
}
.NewsTab .ajax__tab_outer
{
    background-color: #E0E4B0;
}
.NewsTab .ajax__tab_inner
{
    padding: 6px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #ffffff;
}
.NewsTab .ajax__tab_hover .ajax__tab_outer
{
    background-color: #666633;
}
.NewsTab .ajax__tab_hover .ajax__tab_inner
{
    background-color: #E0E4B0;
}
.NewsTab .ajax__tab_active .ajax__tab_outer
{
    background-color: #E0E4B0;
}
.NewsTab .ajax__tab_active .ajax__tab_inner
{
    background-color: #ffffff;
}


/* END */

.Home
{
	background-image: url(Images/LoginImage.jpg);
	background-repeat:no-repeat;
	background-position:center;
	margin:0;
	width: 100%;
	height: 100%; 
}
.lblUpload
{
	background-color:#666633;
	color:#FFFFFF;
	
}
.lblDownload
{
	background-color:#666633;
}
.lbtnDownload
{
	color:#666633;
	font-weight:bold;
}

.lblColor
{
	 color:#666633;
	 font-weight:bold;
}
.MainBody
{
	background-color:  #E0E4B0;
}
.MainBorder
{
	background-color:#666633;
}
.LeftFrame
{
	height:100%;
	width:100%;
	background-color: #666633;
}
.tree
{
	color:#000000;
	background-color:#666633;
	height:100%;
	font-size:9pt;
	font-family:Verdana;	
}

.PageHeader2
{
	font-size: 10pt;
	COLOR: white;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial;
	FONT-VARIANT: normal;
	TEXT-DECORATION: none;
	
}
.PageBorder
{
	border-color: #FFFFFF;
	border-collapse:separate;
}
.PageMainTable
{
	  background-color: #1c4f66;
	  width: 100%;	
}
.Title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold
}
.subtitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #3300CC
}
.lblContent {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:10pt;
    color:#000000;
	font-style:normal;
	line-height: normal
}
.lblContentV2 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:10pt;
    color:#000000;
    font-weight:bold;
	font-style:normal;
	line-height: normal
}
.lblContactHeader {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:12pt;
    color:#7f7f7f;
    font-weight:bold;
	font-style:normal;
	line-height: normal
}
.normal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style:normal;
	line-height: normal
}
.lblContentDesc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style:normal;
	line-height: normal
}
.DVLabel {
	font-family: Verdana;
	font-size: 9pt;
	font-style:normal;
	line-height: normal
}
.HederLbl {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight:bold;
	line-height: normal;
}
.SubHederLbl {
	font-family: Verdana;
	font-size: 8pt;
	font-style: normal;
	font-weight:bold;
	line-height: normal;
}
.HTMLnormal
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: normal
}
.HTMLTitle {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	font-weight: bold
}
.chkList
{
	font-family: Arial;
	font-size: 10pt;
	font-style : normal;
	line-height : normal;
}
.btnstyle
 {
	font-family: Arial;
	font-size: 10pt;
	font-style: normal;
	line-height: normal;
	background-color: #4bacc6;
	color: #ffffe0;
	border-color: #E0E4B0;
	border-style: solid;
	font-weight: bold;
	cursor:pointer;	
 }
 .errImgstyle
 {	
	font-weight: bold;
	cursor:pointer;	
 }
.comments {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: normal;
	color: #3333FF
}
.smallfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	color: #0000FF
}
.dates {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #3333FF
}
.tableHeaderTop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: bold
}
.tableSide {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #3333FF
}
.background {
	background-color: White
}
.reportsContent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	font-weight: normal
}
.tableTopSubheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	font-weight: 400
}
.navFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	font-style: normal
}
.inbox{
	border:1px double groove;
	background-color: white;
	border-color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;

}
.inboxoff{
	border:1px double groove;
	background-color: #ECF2D6;
	border-color: Black;
}
.help
{
	cursor:help;  
}
.navCurrent { font-family: Arial, Helvetica, sans-serif; font-size: 0.7em; font-style: normal ; font-weight: bold}
.miniTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; line-height: normal; font-weight : bold; }
.linkTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: bold }

.navFontplus1 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal ; font-weight: bold}
.navFontplus2 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal ; font-weight: bold}
.legalTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal ; font-weight: bold}
.pageControl {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal}
.requiredHead { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal ; font-weight: bold }
.subtitlesBold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold}
.OpenTab{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: bold; color: white }
.CloseTab{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; color: black  }
.OpenTab1{ font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 8pt; font-style: normal; line-height: normal; font-weight: bold; color: white }
.CloseTab1
{
	font-weight: normal;
	font-size: 7.5pt;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.normalsmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: normal;
	color: #3333FF
}
.pageHeader {
	BORDER-RIGHT: #2f4f4f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px solid; CURSOR: pointer; COLOR: #fffacd; PADDING-TOP: 5px; BORDER-BOTTOM: #2f4f4f 1px solid; FONT-FAMILY: Arial, Sans-Serif; BACKGROUND-COLOR: #2e4d7b;

}
.accordionHeader {
	BORDER-RIGHT: #2f4f4f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px solid; CURSOR: pointer; COLOR: #fffacd; PADDING-TOP: 5px; BORDER-BOTTOM: #2f4f4f 1px solid; FONT-FAMILY: Arial, Sans-Serif; BACKGROUND-COLOR: #2e4d7b
}
#master_content .accordionHeader A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; TEXT-DECORATION: none
}
#master_content .accordionHeader A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
.accordionHeaderSelected {
	BORDER-RIGHT: #2f4f4f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2f4f4f 1px solid; CURSOR: pointer; COLOR: #fffacd; PADDING-TOP: 5px; BORDER-BOTTOM: #2f4f4f 1px solid; FONT-FAMILY: Arial, Sans-Serif; BACKGROUND-COLOR: #5078b3
}
#master_content .accordionHeaderSelected A {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ffffff; TEXT-DECORATION: none
}
#master_content .accordionHeaderSelected A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: underline
}
.accordionContent {
	PADDING-RIGHT: 5px; BORDER-TOP: #2f4f4f 1px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px;  PADDING-TOP: 10px;  BACKGROUND-COLOR: #E0E4B0
}



* html .header h2 {
	top: 35px;
}
* html .todoheader, * html .insertheader {
	height: 1%;
}
a, a:visited {
	text-decoration: none;
}
a:hover, input {
	color: #FFFACD;/* 333333 */
}

em {
	background: #EEEEEE;
	font-style: normal;
}
li {
	background: url('images/bullet_purple.gif') no-repeat top left;
	padding-left:18px; padding-right:0; padding-top:0; padding-bottom:0
}
p {
	line-height: 18px;
	margin: 5px;
}
p, li, input {
	color: #333333;
	font: small "Segoe UI", Segoe, sans-serif;
	padding: 0;
}
ul {
	list-style: none;
	margin: 5px;
	padding: 0;
}
.placeholder {
	color: #003399;
	font: bold medium "Segoe UI", Segoe, sans-serif;
	height: 40px;
}
.content {
	float: left;
	margin: 5px 5px;
	text-align: left;
}
.detailsview .actions div {
	float: right;
	text-align: right;
	width: 95px;	
}
.detailsview td {
	background: #666633;
	color: #FFFFFF;
	font: small "Segoe UI", Segoe, sans-serif;	
}
.detailsview td a {
	color: #E0E4B0;
	font: bold small "Segoe UI", Segoe, sans-serif;
	padding-right: 10px;
}
.detailsview td a:hover {
	font-weight: bold;
	color: #333;
}
.detailsview th {
	background: #E0E4B0;
	color: #FFFFFF;
	font: small "Segoe UI", Segoe, sans-serif;	
	text-align: left;
}
.detailsview tr.header {
	background: #666633;	

}
.gridview .actions div {
	float: right;
	padding-right: 2px;
	text-align: right;
	width: 95px;
}

.gridview .edit td, .gridview .create td {
	background: #d9d9d9;
	padding: 4px;
	border-bottom: solid 2px #FFFFFF;
	border-top: solid 2px #FFFFFF;
}

.gridview td {
	background: #d9d9d9;
	border-bottom: solid 1px #FFFFFF;
	color: #333333;
	font: small "Segoe UI", Segoe, sans-serif;
	padding: 5px 4px;	
}
.gridview td a{
	color: #666633;
	font: bold small "Segoe UI",Segoe,sans-serif;
	padding: 2px;
	text-decoration: none;
}
.gridview td a:hover {
	color: #333333;
	font-weight: bold;
}
.gridview th {
	background: #a6a6a6;
	color: #FFFFFF;
	font: small "Segoe UI", Segoe, sans-serif;
	font-weight:bold;
	letter-spacing: 0;
	padding: 4px;
	text-align: center;
}
.gridview th a{
	color: #FFFFFF;
	font: bold small "Segoe UI",Segoe,sans-serif;
}
.gridview th a:hover{
	color: #00FF00;
}
.gridview tr.even td, .detailsview tr.even td{
	background: #FFFFFF;
}
.gridview tr.header {
	background: #C5DBF7;
}
.gridview, .detailsview {
	width: 100%;
}
.gridview tr td
{
    padding: 5px;    
}
.gridview tr th
{
    padding: 5px;
}
.header {
	height: 50px;
	margin-left: 5px;
}
.header h1 {
	color: #10377C;
	font: bold xx-large "Segoe UI", Segoe, sans-serif;
	margin: 0px;
}
.header h2 {
	color: #666666;
	font: x-small "Segoe UI", Segoe, sans-serif;
	position: absolute;
	top: 28px;
}
.header h2 a {
	color: #6600CC;
	font-weight: normal;
}
.insert {
	width: 300px;
}
.insert span {
	font-family: "Segoe UI", Segoe, sans-serif;
}
.insertheader 
{
    color: #E0E4B0;
	background: #666633 url('images/add.gif') no-repeat 6px 50%;
	margin-top: 25px;
	padding-left: 25px;
	position: relative
}
.insertheader  a {
	color: #FFFFFF;
	font: bold medium "Segoe UI", Segoe, sans-serif;
	margin-left: 20px;
}
.login {
	font: small "Segoe UI", Segoe, sans-serif;
	margin-left: 100px;
	margin-top: 30px;
}
.login .logintitle {
	background: #10377C;
	color: #0066CC;
	color: #FFFFFF;
	font: bold large "Segoe UI", Segoe, sans-serif;
	letter-spacing: 0;
	padding: 2px;
	padding-left: 5px;
	text-align: left;
}
.login input[type=text] input[type=password] {
	width: 100px;
}
.loginstatus {
	font: small "Segoe UI", Segoe, sans-serif;
	margin-left: 660px;
	margin-top: 20px;
	position: absolute;
	text-align: right;
	width: 200px;
}
.loginstatus span {
	margin-right: 20px;
}
.menu {
	border-width: 1px;
	float: left;
	margin: 20px 5px;
	width: 150px;
}
.progress {
	color: #FFFF99;
	float: right;
	font: bold large "Segoe UI", Segoe, sans-serif;
	
}
.rss {
	margin-top: 20px;
}
.todoheader 
{
    color: #E0E4B0;
	background:  #666633;
	position: relative;
}

.todoheader h2
{
	background: url('images/corner.gif') no-repeat top right; 
	color: #fffacd;
	margin: 0;
	font-style:normal; font-variant:normal; font-weight:bold; font-size:medium; font-family:Segoe UI, Segoe, sans-serif; padding-left:5px; padding-right:5px; padding-top:8px; padding-bottom:5px
}
.insertheader h2 {
	color: #fffacd;
	font: bold medium "Segoe UI", Segoe, sans-serif;
	margin: 0;
	padding: 8px 5px 5px 5px;
}
.updateprogress {
	color: #fffacd;
	font: bold large "Segoe UI", Segoe, sans-serif;
}

.ListSearchExtenderPrompt
{
	font-style:italic;
	color:Gray;	
}

.modalBackground {
	background-color:#E0E4B0;
  	
}

.unwatermarked {
	height:18px;
	width:148px;
}

.watermarked 
{
	height:20px;	
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}

.FullBar {
	font-family: Book Antiqua ;
	font-size: 19pt;
	font-weight:bold;
	font-style: normal ;
	line-height: normal;
	color:#666633 ;
}

.RatesBar
{
	background: #666633;
	color: #E0E4B0;
}