﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="WatchForce.master.vb" Inherits="WF.WatchForceMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
    <title>Untitled Page</title>
    <link href="fontStyles.css" type="text/css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    
        <div id="topContent">
            <table width="90%" border="0">
                <tr>
                    <td align="left" >
                        <img src="./images/wf2.png" alt="WatchForce System - Accountability" width="100%" style="height:110px" border="0"/>
                    </td>                                   
                </tr>
            </table>
        </div>
        
        <div id="mainContent" >
            <table width="90%" border="0" >
                <tr>
                    <td>
                        <asp:ContentPlaceHolder id="mainContentHolder" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>            
        </div>
        
        <div id="footerContent">
            <table border="0" width="90%">
                <tr>
                    <td align="center">
                        <asp:Label ID="lblCopyRight" runat="server">
                            Copyright Info.. <sup>&copy;</sup>
                        </asp:Label>
                    </td>
                </tr>
            </table>
            
        </div>
        
    </form>
</body>
</html>
